.zoom-container {
  position: relative;
  overflow: hidden;
  width: 900px;
}
.zoom-container img {
  width: 100%;
  transition: transform 0.5s ease;
}
.zoom-container:hover img {
  transform: scale(1.2);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}
.zoom-container:hover .overlay {
  opacity: 1;
}

body{
    background-color: rgb(212, 208, 208);
     display: flex;
     justify-content: center;
     align-items: center;
}